body {
  background-color: #ccc; }

.main-div {
  margin: 0 auto;
  padding: 20px;
  background-color: #bbb; }

.main-body {
  margin: 0;
  text-align: center;
  font-size: 30px;
  color: white; }

.image {
  text-align: center; }

img {
  max-width: 200px;
  width: 100%;
  padding: 10px; }
